{% extends 'base.html' %}
{% block title %}
Profile Detail Information
{% endblock title %}

{% block content %}
<div class="container-fluid profile-page py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg">
        <div class="card-body p-4">
          <!-- Profile Header -->
          <div class="text-center mb-4">
            
            <h2 class="card-title mb-2 text-primary">Profile Detail Information</h2>
            <p class="text-muted">Here you can find your profile details. Ensure your information is up to date.</p>
          </div>
          <hr>

          <!-- Profile Information -->
          <div class="profile-info">
            <div class="mb-3">
              <div class="d-flex align-items-center">
                <i class="bi bi-person-fill me-2 fs-5"></i>
                <div>
                  <strong>Username:</strong>
                  <p class="mb-0">{{ user.username }}</p>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <div class="d-flex align-items-center">
                <i class="bi bi-envelope-fill me-2 fs-5"></i>
                <div>
                  <strong>Email:</strong>
                  <p class="mb-0">{{ user.email }}</p>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <div class="d-flex align-items-center">
                <i class="bi bi-person me-2 fs-5"></i>
                <div>
                  <strong>First Name:</strong>
                  <p class="mb-0">{{ user.first_name }}</p>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <div class="d-flex align-items-center">
                <i class="bi bi-person me-2 fs-5"></i>
                <div>
                  <strong>Last Name:</strong>
                  <p class="mb-0">{{ user.last_name }}</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}